:root {
  --main-color: red;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  border-radius: 3px;
  padding: 0.25em 1em;
  margin: 0 1em;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.primary {
  background: var(--main-color);
  color: white;
}
